{# read and display all flash messages #}

<div class="row mt-2">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} text-center">
                {{ message | raw}}
            </div>
        {% endfor %}
    {% endfor %}
</div>