<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted mt-5" style="background-color: rgb(198, 212, 227) !important;">

     <!-- Section: Links  -->
    <section class="pt-3">
        <div class="container text-center text-md-start ">
            <!-- Grid row -->
            <div class="row ">
                <!-- Grid column -->
                <div class="col-lg-3  mx-auto ">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold ">
                        <i class="fas fa-gem me-3 text-secondary"></i>GilDev
                    </h6>
                    <p>
                        Développeur indépendant.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-3  mx-auto ">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold ">
                        Framework
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Symfony</a>
                    </p>
                </div>
                <!-- Grid column -->


                <!-- Grid column -->
                <div class="col-lg-3 mx-auto mb-md-0 ">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold ">Contact</h6>
{#                    <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>#}
                    <p><a href="#">
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        Me contacter
                        </a></p>
{#                    <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>#}
{#                    <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>#}
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-3 mx-auto ">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold ">
                        Réseaux sociaux
                    </h6>
                    <div>
                        <a href="https://www.facebook.com/gilless57" class="me-4 link-secondary">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCs_odES3P-wmAOMWTmGWY7A" class="me-4 link-secondary">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/gilles-salmon-34ba5a256/" class="me-4 link-secondary">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/Gilles57" class="me-4 link-secondary">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>

                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.025);">
        <a href="{{ path('app_admin') }}" class="text-decoration-none">©</a> 2022 Copyright:
        <a class="text-reset fw-bold" href="https://g-salmon.fr/">Gilles SALMON</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

