{% extends 'base.html.twig' %}

{% block title %}Divers{% endblock %}

{% block body %}
    <div class="jumbotron  jumbotron-fluid my-3 p-3 text-center">
        <h1 class="display-4 fw-bold"><i class="fa-regular fa-circle-question"></i> Rubriques en vrac <i
                    class="fa-regular fa-circle-question"></i></h1>
        <p class="lead">Tout ce que je n'ai pas pu mettre ailleurs !</p>
    </div>


{% endblock %}
