{% extends 'base.html.twig' %}

{% block title %}Films et séries{% endblock %}

{% block body %}
    <div class="jumbotron  jumbotron-fluid my-3 p-3 text-center">
        <h1 class="display-4 fw-bold"><i class="fa-solid fa-photo-film"></i> Films et séries <i
                    class="fa-solid fa-photo-film"></i></h1>
        <p class="lead">Les films et séries que j'ai vus ou que je voudrais voir</p>
    </div>
    <div class="row">
        <a href="{{ path('app_films') }}"  class="col-4 offset-2 text-center">
            <div>
                <div>
                    <img src="{{ asset('/images/folder-films-bleu.png') }}" alt="Films">
                </div>
                <h2>Les films</h2>
            </div>
        </a>
        <a href="{{ path('app_series') }}"  class="col-4  text-center">
            <div>
                <div>
                    <img src="{{ asset('/images/folder-series-vert.png') }}" alt="Séries">
                </div>
                <h2>Les séries</h2>
            </div>
        </a>
    </div>
{% endblock %}
