{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div style="background-color: #e3c8cf; min-height: 400px">
        <div class="container" >
            <h1 class="text-center">Hello {{ app.user.forename }}</h1>
        </div>
    </div>
{% endblock %}
