{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div style="background-color: #e3c8cf; min-height: 400px">
        <div class="container">
            <h1 Administration</h1>
            <div>
                <a href="{{ path('app_tools_catalogue') }}" class="btn btn-info">Charger le catalogue</a>
                <a href="#" class="btn btn-info">Ajouter un film</a>
                <a href="{{ path('app_home') }}" class="btn btn-info">Retour à l'accueil</a>
                <a href="{{ path('tools_import') }}" class="btn btn-info">Import du csv</a>
                <a href="{{ path('app_load_film', {titre: 'avatar'}) }}" class="btn btn-info">TESTS</a>
            </div>
        </div>
    </div>
{% endblock %}
