{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div style="background-color: #e3c8cf; min-height: 400px">
        <div class="container">
            <h1 Administration</h1>
            <div>
                <a href="{{ path('app_tools_catalogue') }}" class="btn btn-info">Charger le catalogue</a>
                <a href="#" class="btn btn-info">Ajouter un film</a>
                <a href="#" class="btn btn-info">#</a>
                <a href="#" class="btn btn-info">#</a>
            </div>
        </div>
    </div>
{% endblock %}
