{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <div class="jumbotron  jumbotron-fluid my-3 p-3 text-center">
        <h1 class="display-4 fw-bold"><i class="fa-solid fa-kitchen-set"></i> Mes recettes préférées <i class="fa-solid fa-kitchen-set"></i></h1>
        <p class="lead">Si une recette est ici, c'est que je l'ai testée !</p>
    </div>

{% endblock %}
