{% extends 'base.html.twig' %}

{% block title %}Informatique{% endblock %}

{% block body %}
    <div class="jumbotron  jumbotron-fluid my-3 p-3 text-center">
        <h1 class="display-4 fw-bold"><i class="fa-solid fa-laptop-code"></i> Informatique <i class="fa-solid fa-laptop-code"></i></h1>
        <p class="lead">Trucs et astuces qui m'ont été utiles !</p>
    </div>

{% endblock %}
