{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    <div class="imgBx">
        <img class="test"
             src="{{ asset('/images//cards/DALL-Informatique.png') }}"
             alt="Card image Informatique"
             style="height: 10rem">
    </div>
{% endblock %}
