{% extends '/base.html.twig' %}

{% block title %}Test!{% endblock %}

{% block body %}
    <div style="background-color: #e3c8cf; min-height: 400px">
        <div class="container">
            <h1> Test </h1>
           Rien pour l'instant
        </div>
    </div>
{% endblock %}
