{% extends "bundles/TwigBundle/Exception/error.base.html.twig" %}

{% block body %}
    <div class="container mx-auto col-md-4 text-center mt-3">
        <h1>Cette page n'existe pas</h1>
    </div>
    {{ parent() }}
{% endblock %}

